body {
	background-color: skyblue;
}

h1 {
	text-align: center;
	font-size: 70px; 
}

#tabs {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #ffaa99;
}	

button {
	background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

#tabs button {
	font-size: 25px; width: 200px;
}

#rollOut button {
	font-size: 17px; width: 120px;
}

#rollOut button:hover {
    background-color: #f55;
}

#rollOut button.active {
    background-color: #f00;
}
